/* utility */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
}

.f-left{
  float: left;
}

.f-right{
  float: right;
}

.sp-btwn{
  justify-content: space-between;
}

.position-rel{
  position: relative;
}

.position-abs{
  position: absolute;
}

.scroll{
  overflow-y: scroll;
}

.w-100-perc{
  width: 100%;
}

.h-50px{
  height: 50px;
}

img{
  border-radius: 50%;
}

.d-none{
  display: none;
}

.d-block{
  display: block;
}
/* /utility */

#root{
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #009788 15%, #dbdbd3 15%);
}

.container{
  width: 80%;
  min-width: 950px;
  height: 95%;
  min-height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

/* SIDEBAR */

.sidebar{
  width: 35%;
  height: 100%;
  background: #eaeaea;
}

/* sidebar top */

.sidebar-top{
  min-height: 150px;
  top: 0;
}

.user-box{
  min-height: 70px;
  padding: 10px;
}

.user-box a img{
  vertical-align: -18px;
}

.user-box a i{
  font-size: 20px;
  margin: 15px 10px 10px 10px;
  color: #b1b1b1;
}

.notifications-box{
  height: 80px;
  padding: 15px;
  background: #8edafc;
}

.notifications-icon{
  width: 50px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background: #fff;
}

.notifications-icon a i{
  font-size: 20px;
  margin-top: 15px;
  color: #8edafc;
}

.notifications-text{
  display: inline-block;
  height: 60px;
  margin-left: 10px;
  font-size: 12px;
  vertical-align: -5px;
}

.notifications-text a{
  color: #498ba6;
}

/* sidebar bottom */

.sidebar-bottom{
  height: calc(100% - 150px);
  bottom: 0;
}

.search{
  text-align: center;
  padding-top: 12px;
  background: #fafafa;
}

.search a i{
  top: 17px;
  left: 30px;
  color: #b9b9b9;
}

.search input{
  width: calc(100% - 30px);
  padding: 5px 10px 5px 50px;
  border: none;
  border-radius: 3px;
}

.chats{
  height: calc(100% - 50px);
  background: #fff;
}

.chat-box{
  height: 80px;
  padding: 10px 0 10px 15px;
  border-bottom: 2px solid #fafafa;
}

.chat-box a img{
  height: 60px;
  margin-right: 15px;
  vertical-align: top;
}

.chat-box:hover{
  background: #dadcdc;
  cursor: pointer;
}

.last-message-hour{
  font-size: 10px;
  color: #ccc;
  right: 10px;
  top: 12px;
}

.conversation-box{
  width: 200px;
  left: 90px;
  display: inline-block;
  overflow: hidden;
}

.prev-text{
  top: 20px;
  font-size: 13px;
  color: #ccc;
}

.chat-box:hover .prev-text{
  color: #828084;
}

/* MAIN */

.main{
  width: calc(100% - 35%);
  height: 100%;
  border-left: 1px solid #dadcdc;
}

/* main top */

.main-top{
  min-height: 70px;
  padding: 8px 10px;
  background: #eaeaea;
}

.main-top a img{
  margin-right: 10px;
  vertical-align: -7px;
}

.conversation-header{
  display: inline-block;
}

.name{
  font-size: 16px;
}

.last-seen{
  font-size: 12px;
  color: #828084;
}

.main-top a i{
  font-size: 20px;
  margin: 15px 10px 10px 10px;
  color: #b1b1b1;
}

/* main center */

.main-center{
  height: calc(100% - 150px);
  background: url("../img/chat-background.jpg");
}

.messages-box{
  height: 100%;
  padding: 20px;
}

.text-box{
  clear: both;
  width: 200px;
  margin-bottom: 5px;
  padding: 16px 13px;
  font-size: 14px;
  border-radius: 10px;
  word-wrap: break-word;
}

.menu-container i{
  top: 10px;
  right: 10px;
  color: #828084;
  display: none;
  cursor: pointer;
}

.text-box:hover .menu-container i{
  display: block;
}

.menu{
  top: 25px;
  right: -10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  background: #fff;
  padding: 10px;
  z-index: 1;
  color: #828084;
}

.menu div:hover{
  color: #000;
}

.menu div:first-child{
  padding-bottom: 7px;
  border-bottom: 1px solid #828084;
  cursor: pointer;
}

.menu div:last-child{
  padding-top: 5px;
  cursor: pointer;
}

.text{
  margin-bottom: 15px;
}

.hour{
  right: 10px;
  bottom: 10px;
  font-size: 10px;
  color: #828084;
}

.user-messages{
  float: right;
  background: #d9f8bf;
}

.contact-messages{
  float: left;
  background: #fff;
}

/* main bottom */

.main-bottom{
  position: fixed;
  width: calc(100% - 35%);
  min-height: 80px;
  padding: 15px 50px;
  background: #eaeaea;
}

.main-bottom a i{
  color: #737678;
  font-size: 25px;
  margin-top: 15px;
}

.main-bottom input{
  width: 90%;
  padding: 15px;
  border: none;
  border-radius: 3px;
}
