/* utility */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
}

.sp-btwn{
  justify-content: space-between;
}

img{
  height: 50px;
  border-radius: 50%;
}
/* /utility */

#root{
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #009788 15%, #dbdbd3 15%);
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-width: 950px;
  height: 95%;
  min-height: 80px;
  background: #fff;
}

.sidebar{
  position: relative;
  width: 35%;
  height: 100%;
  border-right: 3px solid #000;
  background: #eaeaea;
  float: left;
}

.sidebar-top{
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 150px;
}

.user{
  width: 100%;
  height: 70px;
  padding: 10px;
}

.user a img{
  vertical-align: -18px;
}

.user a i{
  font-size: 20px;
  margin: 15px 10px 10px 10px;
  color: #b1b1b1;
}

.notifications{
  width: 100%;
  height: 80px;
  padding: 15px;
  background: #8edafc;
}

.bell{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  background: #fff;
}

.bell a i{
  font-size: 20px;
  margin-top: 15px;
  color: #8edafc;
}

.bell-text{
  display: inline-block;
  height: 60px;
  font-size: 12px;
  vertical-align: -5px;
  margin-left: 10px;
}

.bell-text a{
  color: #498ba6;
}

.sidebar-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 150px);
}

.search{
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 12px;
}

.search a i{
  position: absolute;
  top: 17px;
  left: 30px;
  color: #b9b9b9;
}

.search input{
  width: calc(100% - 30px);
  padding: 5px 10px 5px 50px;
  border: none;
  border-radius: 3px;
}

.chats{
  width: 100%;
  height: calc(100% - 50px);
  background: #fff;
}
