<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/master.css">
    <title>boolzapp</title>
  </head>
  <body>

    <!-- root -->
    <div id="root">

      <!-- container -->
      <div class="container">

        <!-- sidebar -->
        <div class="sidebar">

          <!-- sidebar top -->
          <div class="sidebar-top">

            <!-- user -->
            <div class="user flex sp-btwn">
              <div>
                <a href="#"><img src="img/avatar_io.jpg" alt=""></a>
                <span>User Name</span>
              </div>
              <div>
                <a href="#"><i class="fa fa-circle-o-notch"></i></a>
                <a href="#"><i class="fa fa-comment"></i></a>
                <a href="#"><i class="fa fa-ellipsis-v"></i></a>
              </div>
            </div>
            <!-- /user -->

            <!-- notifications -->
            <div class="notifications">
              <div class="bell">
                <a href="#"><i class="fa fa-bell-slash"></i></a>
              </div>
              <div class="bell-text">
                <div class="">Receive notifications of new messages</div>
                <a href="#">Enable desktop notifications</a>
              </div>
            </div>
            <!-- notifications -->

          </div>
          <!-- sidebar top -->

          <!-- sidebar bottom -->
          <div class="sidebar-bottom">

            <!-- search -->
            <div class="search">
              <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
              <input placeholder="Search or start a new chat">
            </div>
            <!-- search -->

            <!-- chats -->
            <div class="chats">
              <div v-for="element in contacts" class="box-chat">
                <a href="#"><img :src="'img/avatar' + element.avatar + '.jpg'" alt=""></a> {{element.name}}
              </div>
            </div>
            <!-- chats -->

          </div>
          <!-- sidebar bottom -->

        </div>
        <!-- sidebar -->

        <!-- main -->
        <div class="main">

          <!-- main top -->
          <div class="main-top flex sp-btwn">
            <div>
              <a href="#"><img src="img/avatar_1.jpg" alt=""></a>
              <div class="img-side">
                <div class="name">
                  Michele
                </div>
                <div class="last-seen">
                  Last seen today at
                </div>
              </div>
            </div>
            <div>
              <a href="#"><i class="fa fa-search"></i></a>
              <a href="#"><i class="fa fa-paperclip"></i></a>
              <a href="#"><i class="fa fa-ellipsis-v"></i></a>
            </div>
          </div>
          <!-- main top -->

          <!-- main center -->
          <div class="main-center">
            <div class="messages">
              <div v-for="item in contacts[contactIndex].messages">
                
              </div>
            </div>
          </div>
          <!-- main center -->

          <!-- main bottom -->
          <div class="main-bottom flex sp-btwn">
            <div>
              <a href="#"><i class="fa fa-smile-o"></i></a>
            </div>
            <input placeholder="Write a message">
            <div>
              <a href="#"><i class="fa fa-microphone"></i></a>
            </div>
          </div>
          <!-- main bottom -->

        </div>
        <!-- main -->

      </div>
      <!-- /container -->

    </div>
    <!-- /root -->

    <!-- script -->
    <script src="js/script.js" charset="utf-8"></script>
    <!-- script -->

  </body>
</html>
