<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/master.css">
    <title>boolzapp</title>
  </head>
  <body>

    <!-- root -->
    <div id="root" class="rel">

      <!-- container -->
      <div class="container abs">

        <!-- sidebar -->
        <div class="sidebar rel f-left">

          <!-- sidebar top -->
          <div class="sidebar-top abs w-100-perc">

            <!-- user -->
            <div class="user flex sp-btwn w-100-perc">
              <div>
                <a href="#"><img src="img/avatar_io.jpg" alt="" class="h-50px"></a>
                <span>User Name</span>
              </div>
              <div>
                <a href="#"><i class="fa fa-circle-o-notch"></i></a>
                <a href="#"><i class="fa fa-comment"></i></a>
                <a href="#"><i class="fa fa-ellipsis-v"></i></a>
              </div>
            </div>
            <!-- /user -->

            <!-- notifications -->
            <div class="notifications w-100-perc">
              <div class="bell h-50px">
                <a href="#"><i class="fa fa-bell-slash"></i></a>
              </div>
              <div class="bell-text">
                <div class="">Receive notifications of new messages</div>
                <a href="#">Enable desktop notifications</a>
              </div>
            </div>
            <!-- notifications -->

          </div>
          <!-- sidebar top -->

          <!-- sidebar bottom -->
          <div class="sidebar-bottom abs w-100-perc">

            <!-- search -->
            <div class="search rel w-100-perc h-50px">
              <a href="#"><i class="fa fa-search abs" aria-hidden="true"></i></a>
              <input placeholder="Search or start a new chat" v-model="contactSearch">
            </div>
            <!-- search -->

            <!-- chats -->
            <div class="chats w-100-perc scroll">

              <!-- box chat -->
              <div v-for="(element, index) in contacts" class=" box-chat w-100-perc"
               @click="changeConversation(index)" v-if="search(element)">

                <a href="#"><img :src="'img/avatar' + element.avatar + '.jpg'" alt=""></a>
                <div class="name-last-text rel h-50px">
                  <div>
                    {{element.name}}
                  </div>
                  <div class="prev-text abs">
                    {{element.messages[element.messages.length - 1].text}}
                  </div>
                </div>
              </div>
              <!-- box chat -->

            </div>
            <!-- chats -->

          </div>
          <!-- sidebar bottom -->

        </div>
        <!-- sidebar -->

        <!-- main -->
        <div class="main f-left">

          <!-- main top -->
          <div class="main-top flex sp-btwn w-100-perc">
            <div>
              <a href="#"><img :src="'img/avatar' + contacts[contactIndex].avatar + '.jpg'" alt="" class="h-50px"></a>
              <div class="img-side">
                <div class="name">
                  {{contacts[contactIndex].name}}
                </div>
                <div class="last-seen">
                  Last seen  {{contacts[contactIndex].messages[contacts[contactIndex].messages.length -1].date}}
                </div>
              </div>
            </div>
            <div>
              <a href="#"><i class="fa fa-search"></i></a>
              <a href="#"><i class="fa fa-paperclip"></i></a>
              <a href="#"><i class="fa fa-ellipsis-v"></i></a>
            </div>
          </div>
          <!-- main top -->

          <!-- main center -->
          <div class="main-center w-100-perc">
            <div class="messages rel w-100-perc scroll">
              <div v-for="(item, index) in contacts[contactIndex].messages">

                <!-- message box -->
                <div class="message-box rel" :class="item.status === 'sent' ? 'my-messages f-right' : 'contact-messages f-left'">
                  <div class="container-menu">
                    <i id="arrow" class="fa fa-angle-down abs" @click="activeMenu(index)"></i>
                    <div class="menu abs d-none">
                      <div>Message Info</div>
                      <div @click="delete(index)">Delete Message</div>
                    </div>
                  </div>
                  <div class="text">
                    {{item.text}}
                  </div>
                  <div class="hour abs">
                    {{item.date}}
                  </div>
                </div>
                <!-- message box -->

              </div>
            </div>
          </div>
          <!-- main center -->

          <!-- main bottom -->
          <div class="main-bottom flex sp-btwn w-100-perc">
            <div>
              <a href="#"><i class="fa fa-smile-o"></i></a>
            </div>
            <input placeholder="Write a message" v-model="myMessage" @keyup.enter="sendMessage">
            <div>
              <a href="#"><i class="fa fa-microphone"></i></a>
            </div>
          </div>
          <!-- main bottom -->

        </div>
        <!-- main -->

      </div>
      <!-- /container -->

    </div>
    <!-- /root -->

    <!-- script -->
    <script src="js/script.js" charset="utf-8"></script>
    <!-- script -->

  </body>
</html>
